br
br
.jumbotron
  .pic
  .row
    .col-xs-12
      h2.tagline Break The Surface.  Respond with Confidence.
      h3.info What is The Collectivist?
  .row
    .col-xs-1
    .col-xs-10
      p The Collectivist is a one-of-a-kind application that is designed to help find where you stand on a variety of topics in relation to other people.

      p In each survey, we ask you for TWO answers for every ONE question: What your opinion is, and what you think the average response is.  This feature enables us to give you accurate results of where you personally stand on a variety of topics, and how accurate you are in guessing what other people think.

      p Our intent is to help you become more self-aware in relationships, enhance team building, get opinions on new products, and much more.  The possibilities are endless.
    .col-xs-1
  .row
  h3.info How to Get Started:
  .row
    .col-xs-1
    .col-xs-10
      .row
        .col-xs-4.color1
          h4 Step 1
            p.al Register and Sign In.  So you can keep track or your surveys and have you own customized dashboard.
        .col-xs-4.color2
          h4 Step 2
            p.al Take A Survey: Take one of the surveys in our library.
        .col-xs-4.color3
          h4 Step 3
            p.al See your results.
    .col-xs-1
