.jumbotron
  .row
    .col-xs-12
      h2.tagline Break The Surface.  Respond with Confidence.
      h3.info What is The Collectivist?
        p The Collectivist is a one of a kind application that is designed to help find where you stand on a variety of topics in relation to other people.

        p Haven’t you ever wondered what people REALLY think?   You will complete surveys in complete anonymity. This will allow you to be honest and up front with your responses.

        p We all tend to give answers that people want to hear.  While that may help us get along better, it stifles our ideas, feelings, and opinions.  We never reach a level of honesty that makes us more productive.  Our intent is to help you become more self-aware in relationships, enhance team building, get opinions on new products, and much more.  The possibilities are endless.   

        p In each survey, we ask you for TWO answers for every ONE question: What your opinion is, and what you think the average response is.  This feature enables us to give you accurate results of where you personally stand on a variety of topics, and how accurate you are in guessing what other people think.
  .row
    .col-xs-4
      h3.info How to Get Started:
      .panel
        h4 Step 1
          p Register and Sign In.  So you can keep track or your surveys and have you own customized dashboard.
    .col-xs-4
      h3 &nbsp
      .panel
        h4 Step 2
          p Take A Survey: Take one of the surveys in our library.
          p -or-
          p Make A Survey: Make your own survey. Curious to know what people think of something?  Make a survey and find out!
    .col-xs-4
      h3 &nbsp
      .panel
        h4 Step 3
          p See your results with graphs and charts.
          a.btn.btn-primary(href='/register') Register Now.

