@blue: #057D9E;
@green: #059E4C;

.panel-heading {
  background-color: black;
  color: white;
}

#values {
  margin: 0 auto;
}

h2.panel-title.survey-title {
  font-size: 30px;
}
span.questNum {
  font-size: 15px;
}
.opinion h5 {
  display: inline-block;
  margin: 0px;
}

.slider1 {
  width: 700px;
  margin: 0px;
  padding: 10px;
  background-color: @blue;
  opacity: 1;
}

.slider2 {
  width: 700px;
  margin: 0px;
  padding: 10px;
  background-color: @green;
  opacity: 1;
}

h5.value {
  width: 140px;
  background-color: white;
  opacity: 0.5;
  text-align: center;
  border: 1px solid #CCC;
}

.sd {
  color: @blue;
  opacity: 1;
}

.dis {
  color: @blue;
  opacity: 1;
}
.neut {
  color: @blue ;
  opacity: 1;
}
.agr {
  color: @blue;
  opacity: 1;
}
.sa {
  color: @blue;
  opacity: 1;
}

.sdp {
  color: @green;
  opacity: 1;
}

.disp {
  color: @green;
  opacity: 1;
}
.neutp {
  color: @green;
  opacity: 1;
}
.agrp {
  color: @green;
  opacity: 1;
}
.sap {
  color: @green;
  opacity: 1;
}

h2#completedSurvey {
  text-align: center;
  padding: 30px;
}

.submit {
  display: block;
  margin: 0 auto;
}

.last{
  border: 3px solid black;
}
