#valueradios {
  padding: 20px;
}

.radio {
  display: inline-block;
  margin-left: 10px;
}

.buddha{
  background-color: #FCF91E;
}

.bozo{
  background-color: #FC1ED0;
}

.last{
  border: 3px solid black;
}
